<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">


    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <script src="https://code.jquery.com/jquery.js"></script>
    <link rel="stylesheet" href="assets/css/style.css">
    <script src="/assets/js/burger.js"></script>
    <title>Lunches</title>
</head>

<body>

    <div class="container">
        <div class="burger-img">
            <img src="/assets/img/burger.png" width="400px" id="burger">
        </div>
        {{{ body }}}


    </div>

</body>

</html>