<h1>Eat the Burger!</h1>

<div class="row">
    <div class="col 6 new-burger">

    </div>
    <div class="col 6 eaten-burger">

    </div>
</div>


<form action="/" method="POST">
    <div class="form-group">
        <label for="burger-name">Type the name of your burger here...</label>
        <textarea class="form-control" id="burger" rows="3"></textarea>
    </div>
    <button type="submit" class="btn btn-primary mb-2">Add Burger</button>
</form>